<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div>
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}"><i class="glyphicon glyphicon-home"></i></a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="#" th:href="@{/index}"><b>INDEXER</b></a>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
