<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div th:fragment="pagination">
    <div class="col-md-12 text-center">
        <div class="pagination pagination-centered">
            <ul class="pagination">
                <li th:class="${currentIndex == 1}? 'disabled' : ''">
                    <span th:if='${currentIndex == 1}'>First</span>
                       <a th:if='${currentIndex != 1}' th:href="@{|${baseUrl}${1}|}">First</a>
                </li>
                <li th:class="${currentIndex == 1}? 'disabled' : ''">
                    <span th:if='${currentIndex == 1}'>«</span>
                    <a th:if='${currentIndex != 1}' th:href="@{|${baseUrl}${currentIndex - 1}|}" title='Go to previous page'>«</a>
                </li>
                <li th:each="item : ${#numbers.sequence(beginIndex, endIndex)}"
                    th:class="${item == currentIndex ? 'active' : '' }">
                    <span th:if='${item == currentIndex}' th:text="${item}">1</span><a th:if="${item != currentIndex}" th:href="@{|${baseUrl}${item}|}"><span th:text="${item}">1</span></a>
                </li>
                <li th:class="${currentIndex != totalPageCount}? '' : 'disabled'">
                    <span th:if='${currentIndex == totalPageCount}'>»</span>
                    <a th:if="${currentIndex != totalPageCount}" th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'>»</a>
                </li>
                <li th:class="${currentIndex == totalPageCount}? 'disabled' : ''">
                    <span th:if="${currentIndex == totalPageCount}">Last</span>
                    <a th:if="${currentIndex != totalPageCount}" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
