<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Google Clone</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container" style="margin-top: 15%">
    <form th:action="@{/index}" method="post">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <input type="url" required="required" name="q" id="q" placeholder="http://www.example.com" class="form-control input-lg" /><br/>
                <div class="col-md-5 col-md-offset-4">
                   <button type="submit" class="btn btn-success">add URL</button>
                    <span>
                        <select name="depth" class="btn btn-success">
                            <option th:value="1">1</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                        </select>
                           <label>max depth</label>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin-top: 5%">
    <div class="col-md-4 col-md-offset-4" style="text-align: center">
        <div th:class="${url == null}? '' : 'alert alert-success'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i th:class="${url == null}? '' : 'glyphicon glyphicon-remove'"></i></a>
            <strong th:text="${url == null}? '' : 'Success!'"></strong>
        </div>
    </div>
</div>
</body>
</html>
