<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Results</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<style>
    .highlight {
        background: yellow;
        font-style: italic;
    }
</style>

<body>
<div th:include="fragments/header"></div>
<div th:include="search :: searchform"></div>
<br/>
<div class="content">
    <div id="result" class="col-md-8 col-md-offset-2">
        <strong class="icon-warning" th:text="'Search results for &quot;' + ${query} + '&quot;:'"></strong>
        <br/>
        <br/>
        <div th:each="resource : ${results}">
            <a th:href="${resource.url}"><h4 th:utext="${resource.title}"></h4></a>
            <a th:href="${resource.url}"><p th:text="${resource.url}"></p></a>
            <p th:utext="${resource.content}"></p>
            <br/>
        </div>
    </div>
</div>
<div class="footer" th:if="${results.size()} > 0" th:include="fragments/pagination"></div>
</body>
</html>
