<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Google Clone</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../static/css/search.css" th:href="@{/css/search.css}" rel="stylesheet" media="screen"/>

<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div th:fragment="searchform">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="search" th:action="@{/search}" method="get">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="q" id="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
